<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unibague.pazyregion">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pazyregion">
        <activity android:name=".Activity.ProductsGlobalActivity"></activity>
        <activity android:name=".Activity.ConveyorsActivity" />
        <activity android:name=".Activity.UpdateProductActivity" />
        <activity android:name=".Activity.ProductRegisterActivity" />
        <activity
            android:name=".Activity.ProductsActivity"
            android:label="@string/title_activity_products"
            android:theme="@style/Theme.Pazyregion.NoActionBar" />
        <activity android:name=".Activity.HomeUserActivity" />
        <activity android:name=".Activity.HomeWareHouseActivity" />
        <activity android:name=".Activity.HomeCultivatorActivity" />
        <activity android:name=".Activity.HomeConveyorActivity" />
        <activity android:name=".Activity.UserRegisterActivity" />
        <activity android:name=".Activity.ConveyorRegisterActivity" />
        <activity android:name=".Activity.CultivatorRegisterActivity" />
        <activity android:name=".Activity.WareHouseRegisterActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.unibague.pazyregion.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>